.card {
    border-radius: 2rem;
    background-color: #fff;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin: 2rem auto;
    padding: 2rem;
    max-width: 1000px;
    width: 90%;
    box-sizing: border-box;
}

.header {
    margin-bottom: 1rem;
}

.blurb {
    margin: 2rem 0;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 1rem;
}

.footer a {
    border-radius: 12px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    padding: 0.6rem 1rem;
}

.footer a:hover {
    background-color: orange;
}

@media (max-width: 480px) {
    .card {
        padding: 1rem;
        width: 95%;
    }
    .carouselImage {
        height: 200px;
    }
    .steamButton {
        padding: 0.5em 1em;
        font-size: 0.85rem;
    }
}